<div class = 'recipe_container'>
  <h1> <%= @recipe.name %> </h1>
  <div class= 'recipe_details_and_toggle'>
    <div class='recipe_details'>
      <p>Preparation time: <%= @recipe.preparation_time%> hours </p>
      <p>Cooking time: <%= @recipe.cooking_time%> hours </p>
      <p> <%= @recipe.description %> </p>
    </div>
  </div>
  <div class = 'recipe_buttons'>
  <p>button 1: generate shopping list</p>
  <%= button_to 'Add new ingredient', new_recipe_food_path(recipe_id: @recipe.id), method: :get %>
  </div>
  <hr />
  <div class= 'recipe_ingredients'>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |ingredient| %>
          <tr>
            <td><%= ingredient.food.name %></td>
            <td><%= ingredient.quantity %></td>
            <td><%= ingredient.food.price * ingredient.quantity %></td>
            <td>Modify remove</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>